@import ~sass/variables
*
    box-sizing: border-box
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    -webkit-tap-highlight-color: transparent
    margin: 0
    padding: 0
    &:before,
    &:after 
        box-sizing: border-box
        -webkit-box-sizing: border-box
        -moz-box-sizing: border-box
    &:focus
        outline: none
    &::selection
        background: $accent
        color: white

html,
body 
    height: 100%
    width: 100%
    margin: 0
    padding: 0
    font-family: 'Lato', sans-serif
    font-weight: 400
    line-height: 1.5rem
    -webkit-font-smoothing: antialiased   
    color: white
    overflow: hidden
    background-color: $dark

button
    border: none
    background: none
    cursor: pointer
    font-family: inherit

input
    border: none
    border-radius: 0 
    appearance: none
    background: none
    font-family: inherit
    color: inherit
    min-width: 0
    width: 100%
    &:-webkit-autofill 
        -webkit-transition-delay: 99999s
    &:-internal-autofill-previewed
        font-size: 22px !important

a 
    text-decoration: none
    outline: 0
    color: inherit


.emoji
    width: 35px
    height: 35px
    cursor: pointer


::-webkit-scrollbar 
    background: none
    width: 6px
::-webkit-scrollbar-track 
    background: $dark3
::-webkit-scrollbar-thumb 
    background-color: $dark5
    border-radius: 10rem

::-webkit-scrollbar-button
    display: none
