
$dark : #202128
$dark2 : #31313B
$dark3 : #40404D
$dark4 : #4D4D55
$dark5 : #8F8F93
$borderRad: 10px 
$accent: #0062ED



=placeholder($color)
    &::-webkit-input-placeholder
        color: $color
    &::-moz-placeholder
        color: $color
    &::-moz-placeholder
        color: $color
    &::-ms-input-placeholder
        color: $color
