@import ~sass/variables

.container
    width: 100%
    background: $dark2
    border-radius: $borderRad
    margin-bottom: 1rem
    overflow: hidden
    user-select: none
    &.transparent
        opacity: .5

.content
    padding: 1rem
    display: flex
    align-items: center
    position: relative
    transition: .3s ease
    &.deleteShow
        transform: translate3d(90px, 0, 0)

.swipeOptions
    cursor: pointer
    position: absolute
    top: 0
    left: -90px
    height: 100%
    width: 90px
    display: flex
    button
        width: 90px
        display: flex
        justify-content: center
        align-items: center
        font-size: 1.3rem
        color: white
        background: #fd4179


.text
    flex-grow: 1
    padding: 0 1rem
    h3
        text-transform: capitalize
        margin-bottom: .25rem
        word-break: break-word
    p
        font-size: .9rem
        color: $dark5

.checkbox
    color: white
    font-size: 1.1rem
    border-radius: 50%
    height: 40px
    width: 40px
    min-width: 40px
    border: 2px solid $dark4
    i
        opacity: 0
    &.checked
        background: $accent
        border-color: $accent
        i
            opacity: 1


      
