@import ~sass/variables

.container  
    margin: 0 auto
    display: flex
    flex-direction: column
    align-items: center

.daysCont   
    display: flex
    align-items: center

.days
    display: flex
    justify-content: center
    flex-wrap: wrap
    button
        height: 40px
        width: 40px
        border-radius: 10rem       
        font-size: 1.125rem
        line-height: 1.125rem
        color: $dark5
        margin: 0 .25rem
        &:first-of-type
            margin-left: 0
        &:last-of-type
            margin-right: 0
        &:hover
            background-color: $dark2
            color: white
        &.active
            font-weight: bold
            background-color: $accent
            color: white

.arrow
    cursor: pointer
    margin-right: 1.5rem
    i
        font-size: 1.5rem
        color: $dark3
    &:last-child
        margin-right: 0
        margin-left: 1.5rem
        
@media (max-width: 680px)
    // .days
    //     button
    //         height: 40px
    //         width: 40px
    //         margin: 0 .6rem
    //         font-size: 1rem
    .arrow
        display: none

@media ( max-width: 360px )
    .days
        button
            height: 33px
            width: 33px
            font-size: 1rem
            line-height: 1rem
    