@import ~sass/variables
.max
  max-width: 1000px
  margin: 0 auto

.auth-form 
  height: 100%
  overflow-y: auto
  -webkit-overflow-scrolling: touch
  padding: 3rem 2rem 2rem 2rem
  &__button 
    text-align: center
    margin-top: 30px   
  &__toggleLink 
    margin: 10px
  label
    background: $dark2
    border: solid 2px $dark3
    border-radius: $borderRad
    color: white
    display: flex
    align-items: center
    padding: 1rem
    margin-bottom: 1.5rem
    i
      color: $dark5
      font-size: 1.3rem
      margin-right: .5rem
    &:focus-within  
      border-color: $accent
      i
        color: white
    +placeholder($dark5)
  input
    font-size: 1rem
    color: white
    &:-webkit-autofill
      -webkit-box-shadow: 0 0 0px 1000px transparent inset
      -webkit-text-fill-color: inherit !important

.logo
  text-align: center
  margin-bottom: 1rem
  img
    max-width: 180px

.bottom
  text-align: center
  img
    width: 100%
    max-width: 500px

\:host ::ng-deep 
  .error 
    color: #fd4179
    font-weight: bold
    margin: 10px 0
    font-size: 0.75em
  
  h1 
    margin: 0 0 3rem
    font-size: 2em
    line-height: 2rem
    font-weight: bold
    text-align: center
  
  button 
    cursor: pointer
    outline: 0
    border: none
    border-radius: 500px
    font-size: 1em
    font-weight: bold
    &:disabled 
      opacity: 0.4
      cursor: not-allowed
     
  a 
    display: block
    text-align: center
    font-size: 0.9em
    font-weight: bold
    color: $dark5
    margin-bottom: 1rem

  .actionBtn
    background: $accent
    color: #fff
    padding: 1rem 0
    width: 200px
    margin-bottom: 1rem



@media screen and ( max-width: 400px )
  .auth-form 
    padding: 2rem 1rem 1rem 1rem

@media screen and ( max-height: 700px )
  .bottom
    text-align: center
    img
      max-width: 225px
  



    
  
