@import ~sass/variables

.bg
    height: 100%
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    background: rgba(0,0,0,.5)
    position: absolute
    top: 0
    left: 0
    z-index: 100

.modal
    width: calc(100% - 4rem)
    max-width: 500px
    background: $dark2
    padding: 2rem
    text-align: center
    border-radius: $borderRad
    h2
        text-align: center
        margin-bottom: 3rem
        line-height: 2rem
    button
        background: $accent
        color: white
        padding: 1rem 0
        width: 200px
        font-size: 1rem
        font-weight: bold
        border-radius: 50rem
        margin-bottom: .5rem
        &.delete
            background: #fd4179
    p
        color: $dark5
        padding: .5rem 0
        margin-bottom: -.5rem
        font-size: 1rem
        font-weight: bold
        cursor: pointer
