@import ~sass/variables

.max
    max-width: 1000px
    margin: 0 auto

.container
    height: 100%
    position: relative
    overflow-y: auto
    overflow-x: hidden
    -webkit-overflow-scrolling: touch
    padding: 2rem 1rem
    position: relative

dates
    display: block
    margin-bottom: 2rem

.curr-date-name
    margin-left: 1rem
    margin-bottom: 2rem   
   
.habits
    padding: 0 1rem 4rem 1rem

.empty
    text-align: center
    padding: 0 1rem
    h1
        text-align: center 
        margin-bottom: 4rem
        font-size: 2rem
    img
        width: 85%
        max-width: 500px 

.plus
    position: fixed
    right: 2rem
    bottom: 2rem
    border-radius: 50%
    height: 60px
    width: 60px
    color: white
    background: $accent
    font-size: 1.2rem
    box-shadow: 0 0 15px 0 $dark
    
new-habit
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.spinner
    margin: 4rem auto 0 auto
    height: 50px
    width: 50px
    border-width: 5px 
    border-style: solid
    border-color: $accent $accent $accent transparent
    animation: spin 0.5s ease-in-out infinite
    border-radius: 50%   


@keyframes spin
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)


.congrats
    position: fixed
    top: 50%
    left: 50%
    transform: translate3d(-50%,-50%,0)
    width: 600px
    z-index: 999
    opacity: 0
    pointer-events: none
    &.active
        animation: congrats 1.5s ease-in-out


@keyframes congrats
    0%
        transform: translate3d(-50%,-50%,0) scale(0)
        opacity: 0
    45%
        opacity: 1
        transform: translate3d(-50%,-50%,0) scale(1)
    55%
        opacity: 1
        transform: translate3d(-50%,-50%,0) scale(1)

    100%
        transform: translate3d(-50%,-50%,0) scale(0)
        opacity: 0
        
    

@media screen and ( max-width: 350px )
    .congrats
        width: 350px
    .empty
        img
            max-width: 225px
    .curr-date-name
        margin-bottom: 1.5rem

@media screen and ( max-width: 450px )
    .congrats
        width: 400px
