@import ~sass/variables

.max
    max-width: 1000px
    margin: 0 auto

.container
    height: 100%
    background: $dark
    overflow: hidden
    padding: 2rem 1rem 

h2
    margin: 0 1rem
    margin-bottom: 2rem  
    display: flex
    justify-content: space-between
    i
        cursor: pointer
        color: $dark4
        padding: .5rem
        position: relative
        top: -.5rem
        right: -.5rem

section
    margin: 0 1rem
    display: block
    color: $dark5
    margin-bottom: 2rem
    font-weight: bold
    input
        font-weight: normal
        margin-top: 1rem
        font-size: 1rem
        color: white
        background: $dark2
        border-radius: $borderRad
        border: solid 2px $dark3
        padding: 1rem
        +placeholder($dark5)
        &:focus
            border-color: $accent           
        &.error
            border: solid 2px #fd4179


.emoji-input
    margin-top: 1rem
    font-size: 1.2rem
    background: $dark2
    border-radius: 50%
    border: solid 2px $dark3
    width: 75px
    height: 75px
    display: flex
    justify-content: center
    align-items: center
    color: white
    &.focus
        border-color: $accent
    &.error
        border-color: #fd4179

.emoji-cont
    display: inline-flex

.days
    margin-top: 1rem
    display: flex
    flex-wrap: wrap
    button
        height: 40px
        width: 40px
        border-radius: 10rem       
        font-size: 1.125rem
        line-height: 1.125rem
        color: $dark5
        margin: 0 .25rem
        &:first-of-type
            margin-left: 0
        &:last-of-type
            margin-right: 0
        &.active
            font-weight: bold
            background-color: $accent
            color: white

.submit-btn
    margin: 3rem auto 0 auto
    display: block
    background: $accent
    color: white
    padding: 1rem 0
    width: 200px
    font-size: 1rem
    font-weight: bold
    border-radius: 50rem


@media ( min-height: 650px )
    .submit-btn
        margin: 7rem auto 0 auto

@media ( min-height: 700px )
    .submit-btn
        margin: 10rem auto 0 auto

@media ( min-height: 800px )
    .submit-btn
        margin: 15rem auto 0 auto
        
@media ( max-width: 395px )
    .days
        margin: 1rem -1rem 0 -1rem

@media ( max-width: 360px )
    .days
        button
            height: 33px
            width: 33px
            font-size: 1rem
            line-height: 1rem
