@import ~sass/variables

.container
    position: fixed
    bottom: 0
    left: 0
    height: 325px
    width: 100%
    background: $dark2
    padding: 1rem 2rem
    display: flex
    flex-direction: column
    max-width: 1000px
    
.search-box
    display: flex
    align-items: center
    color: $dark5  
    border-bottom: solid 2px $dark3  
    margin-bottom: 1rem
    i
        cursor: pointer
        font-size: 1.3rem
        &:first-of-type
            margin-right: .5rem
        &:last-of-type
            margin-left: .5rem
            padding: .5rem
            margin-right: -.5rem
            font-size: 1.5rem
            color: $dark4
    input
        font-size: 1rem
        padding: 1rem
        flex-grow: 1
        +placeholder($dark5)
    &:focus-within
        border-bottom: solid 2px $accent
        color: white

.results
    flex-grow: 1
    overflow-y: auto
    -webkit-overflow-scrolling: touch
    display: grid
    grid-template-columns: repeat( auto-fit, 35px) 
    grid-auto-rows: 35px
    grid-gap: 1rem
    padding: 0 .5rem

.more
    margin-top: 1rem
    text-align: center
    button
        font-size: 1rem
        font-weight: bold
        color: $accent
        padding: .5rem 1rem


@media screen and ( min-width:  1000px)
    .container
        left: 50%
        transform: translateX(-50%)
        border-radius: $borderRad $borderRad 0 0
